<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema de gestión de Profesores</title>

	<link th:href="@{/css/authForm.css}" rel="stylesheet" />

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="formAuthContainer">
		<form class="col-sm-9 col-xs-12" action="#" th:action="@{/admin/saveProfessor}" th:object="${professor}"
			method="post">
			<h1 class="mb-3">Actualizar Profesor</h1>
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-sm-9 col-xs-12">
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-sm-9 col-xs-12">
			<input type="text" th:field="*{dni}" class="form-control mb-4 col-sm-9 col-xs-12">
			<select th:field="*{active}" class="form-control mb-4 col-sm-9 col-xs-12">
				<option th:value="Yes" th:text="Yes"></option>
				<option th:value="No" th:text="No"></option>
			</select>

			<button type="submit" class="btn btn-primary col-sm-9 col-xs-12">Actualizar</button>


		</form>

		<a class="btn btn-light m-5" th:href="@{/admin/professors}">Volver</a>


	</div>
</body>

</html>